.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;

}

.description {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.description p {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: -1px;
    color: #ffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.form_container {
    margin: auto;
    width: 400px;
    margin-top: 35px;
}

.form_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

/* components */
.input_group {
    position: relative;

}

.input_group input {
    width: var(--input-width);
    height: var(--input-height);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.597);
    border-radius: var(--border-radius);
    background: transparent;
    outline: none;
    color: #fff;

}

.input_group label {
    position: absolute;
    left: 5px;
    top: 18px;
    pointer-events: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.565);

}

.input_group input:focus~label,
.input_group input:valid~label {
    transform: translateX(5px) translateY(-23px);
    font-size: 0.55em;
    padding: 0 10px;
    background: #1b2b3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: rgb(1, 247, 255);
    letter-spacing: 0.2em;

}


.button {
    height: var(--button-height);
    width: var(--button-width);
    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0.597);
    box-sizing: border-box;
    background: transparent;
    color: white;
    margin-top: 5px;
    font-size: 18px;

}

.button:hover {
    background: var(--form-hover);
    transition: 0.6s;
    opacity: 0.85;


}