
.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    /* background-color: var(--main-bg-color); */
    
    
}

.description {
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.description p {
    font-size: 22px;
    opacity: 0.70;
}

.form {


    margin-top: 15px;
    gap: 5px;
}